{% extends 'base.html.twig' %}

{% block title %}O warsztatach | Warsztaty językowe AIESEC University{% endblock %}

{% block body %}
<div class="container about">

    <div class="logo text-center"></div>
    <h1>Czym są warsztaty AIESEC University?</h1>

    <p><strong>AIESEC University</strong> to innowacyjne <strong>warsztaty językowe</strong> stworzone z myślą o młodych ludziach, którzy kierując
        się chęcią rozwoju szukają jak najatrakcyjniejszych sposobów na naukę. Kierując się tą myślą powstała idea warsztatów Learn By Play,
        które prowadzone przez lektorów z różnych zakątków świata, mają uczyć poprzez zabawę i rozrywkę. <strong>Tutaj nie skupiamy sie
            na regułkach i odmianach</strong>, ale na żywym mówionym jezyku, który ćwiczymy przez 5 tygodni nauki.</p>

    <p>Warsztaty są<strong> prowadzone w języku angielskim</strong>, co dodatkowo tworzy uczestnikom sprzyjające
        środowisko do nauki. Jednocześnie idea warsztatów, która brzmi Learn By Play pozwala uczestnikom i lektorom na
        czerpanie radości z nauki jak i naukę poprzez zabawę. </p>

    <p>Nasza bogata oferta językowa daje możliwość rozwoju ciekawego hobby, jak również lepszego poznania kultury innych krajów.
        To perspektywa udanych i ciekawych podróży oraz nawiązania nowych międzynarodowych znajomości.
        Nasze kursy stanowią świetne przygotowanie przed wyjazdem za granicę na wakacje, praktykę zagraniczną czy też stypendium Erasmusa.
    </p>

    <h3>Language Tours</h3>

    <p>Language Tours to <strong>kilkugodzinne spotkania z lektorem</strong>, który podczas spaceru po mieście uczy popularnych zwrotów i nazw,
        które mogą być przydatne w realnych sytuacjach, w sklepie, w podróży, w restauracji czy w pubie. Dzięki interaktywnej formie uczestnicy
        nie tylko przyjemnie spędzają czas z lektorem, ale też dowiadują się wielu przydatnych rzeczy. Jeśli chcesz w ciekawy sposób nauczyć się
        nowych słówek i zwrotów języka,
        z którym wcześniej nie miałeś styczności zapraszamy na nasze warsztaty.</p>


    <h1>Dlaczego warsztaty AIESEC University?</h1>

    <p>Wszystkich języków uczyć się będziesz po angielsku, co daje Ci dodatkową korzysć
        i w znaczącym stopniu umożliwia podniesienie kwalifikacji zawodowych.</p>

    <h3>Przystępna cena</h3>

    <p>Bogata oferta językowa i atrakcyjna forma zajęć idą w parze z przystępną ceną, dzięki czemu kursy AIESEC University są pierwszą tak
        korzystną alternatywą dla dużo droższych ofert szkół językowych. To pierwsze tego typu rozwiazanie w Polsce!</p>

    <h3>Atrakcyjna forma</h3>

    <p>Oprócz zajęć w grupie stawiamy na indywidualne konwersacje, gdyż jest to najszybsza metoda poznania języka w jego realnej (mówionej i rozumianej) formie.
        Uczestnicy mają również dzięki indywidualnym konsultacjom przestrzeń do tego, by zadać pytania i wyjaśnić te kwestie, na które zwykle
        nie starcza czasu podczas zajęć prowadzonych w tradycyjny sposób.</p>

    <h3>Zajęcia w centrum miasta</h3>

    <p>Wszystkie lekcje odbywają się na ul. Szewskiej 14 w NOVA Centrum Edukacyjne (5 minut od Dworca Głównego).</p>

    <h1>Czym jest AIESEC?</h1>

    <p><strong>AIESEC</strong> jest globalną, niezależną, apolityczna, nie działającą dla zysku organizacją prowadzoną przez <strong>studentów i niedawnych absolwentów.</strong>
        Członkowie interesują się bieżącymi problemami otaczającego nas świata, przywództwem oraz zarządzaniem. AIESEC
        <strong>nie dyskryminuje</strong>ze względu na rasę, kolor skóry, płeć, orientację seksualną, wyznanie, religię ani etniczne czy społeczne pochodzenie. </p>

    <p><img src="http://farm9.staticflickr.com/8434/7836830036_3163c8e68e_b.jpg" style="max-width: 100%;"/><br />
        </p>

    <p>AIESEC jest <strong>największą organizacją studencką na świecie</strong>. Jest obecny w 125 krajach oraz zrzesza ponad 100 000 członków.
        W celu zapewnienia rozwoju przyszłych liderów, AIESEC oferuje swoim członkom <strong>doświadczenie liderskie</strong>
        oraz międzynarodowe w ramach <strong>praktyk zagranicznych</strong>. W AIESEC aktywnie zdobywasz praktyczną wiedzę w globalnym środowisku.
        <br/>
        <br/>
        Tysiące firm i organizacji partnerskich na całym świecie wspiera AIESEC w celu rozwoju naszych członków oraz w dotarciu do
        utalentowanych młodych ludzi w ramach międzynarodowego programu praktyk.<br/>
        <br/>
        Byli członkowie (Alumni) są <strong>liderami w swoich organizacjach i firmach</strong>. Korzystają z doświadczenia, umiejętności i inspiracji, kt&oacute;re zdobyli dzięki AIESEC. Stali się agentami pozytywnych zmian w dzisiejszym społeczeństwie.&nbsp;</p>

    <br/>

    <h3>AIESEC w skrócie:</h3>
    <p>
        125 krajów <br/>
        2 400 uniwersytetów <br/>
        100 000 członków <br/>
        10 000 praktyk i wolontariatów zagranicznych <br/>
        27 000 pozycji liderskich <br/>
        8 000 partnerów <br/>
        500 konferencji rocznie na całym świecie <br/>
        66 lat doświadczenia <br/>

    </p>
    </div>
{% endblock %}