{% extends 'base.html.twig' %}

{% block title %}O warsztatach | Warsztaty językowe AIESEC University{% endblock %}

{% block body %}
    <div id="content">
        <div class="col-md-8 centered heading about fontcolor">
            <div class="logo text-center"></div>
            <br/>


            <h1>Czym są warsztaty AIESEC University?</h1>

            <p><strong>AIESEC University</strong> to innowacyjne <strong>warsztaty językowe</strong>&nbsp;stworzone z myślą o młodych ludziach, kt&oacute;rzy kierując się chęcią rozwoju szukają jak najatrakcyjniejszych sposob&oacute;w na naukę. Kierując się tą myślą powstała idea warsztat&oacute;w&nbsp;Learn By Play, kt&oacute;re&nbsp;prowadzone przez lektor&oacute;w z r&oacute;żnych zakątk&oacute;w świata, mają uczyć poprzez zabawę i rozrywkę. <strong>Tutaj nie skupiamy sie na regułkach i odmianach</strong>, ale na żywym m&oacute;wionym jezyku, kt&oacute;ry ćwiczymy przez 5 tygodni nauki.</p>

            <p>Warsztaty są<strong> prowadzone w języku angielskim</strong>, co dodatkowo tworzy uczestnikom sprzyjające środowisko do nauki. Jednocześnie idea warsztat&oacute;w, kt&oacute;ra brzmi Learn By Play pozwala uczestnikom i lektorom na czerpanie radości z nauki jak i naukę poprzez zabawę.&nbsp;</p>

            <p>Nasza bogata oferta językowa daje możliwość rozwoju ciekawego hobby, jak r&oacute;wnież lepszego poznania kultury innych kraj&oacute;w. To perspektywa udanych i ciekawych podr&oacute;ży oraz nawiązania nowych międzynarodowych znajomości. Nasze kursy stanowią świetne przygotowanie przed wyjazdem za granicę na wakacje, praktykę zagraniczną czy też stypendium Erasmusa.</p>

            <h3>Language Tours</h3>

            <p>Language Tours to&nbsp;<strong>kilkugodzinne spotkania z lektorem</strong>, kt&oacute;ry podczas spaceru po mieście uczy popularnych zwrot&oacute;w i nazw, kt&oacute;re mogą być przydatne w realnych sytuacjach, w sklepie, w podr&oacute;ży, w restauracji czy w pubie. Dzięki interaktywnej formie uczestnicy nie tylko przyjemnie spędzają czas z lektorem, ale też dowiadują się wielu przydatnych rzeczy. Jeśli chcesz w ciekawy spos&oacute;b nauczyć się nowych sł&oacute;wek i zwrot&oacute;w języka, z kt&oacute;rym wcześniej nie miałeś styczności zapraszamy na nasze warsztaty.</p>

            {#<h3>Kursy Intensywne</h3>#}

            {#<p>Jeśli chcesz w możliwie jak najkr&oacute;tszym czasie udoskonalić znajomość języka obcego polecamy skorzystać z&nbsp;Kursu Intensywnego*. Podczas zajęć (minimum 6h tygodniowo) lektorzy kłądą nacisk na rozw&oacute;j umiejętności językowych poprzez ćwiczenia oraz praktyczne wykorzystanie zdobytej wiedzy.</p>#}

            {#<p>&nbsp;</p>#}


            <h1>Dlaczego warsztaty AIESEC University?</h1>

            <p>Wszystkich język&oacute;w uczyć się będziesz po angielsku, co daje Ci dodatkową korzysć i w znaczącym stopniu umożliwia podniesienie kwalifikacji zawodowych.</p>

            <h3>Przystępna cena</h3>

            <p>Bogata oferta językowa i atrakcyjna forma zajęć idą w parze z przystępną ceną, dzięki czemu kursy AIESEC University są pierwszą tak korzystną alternatywą dla dużo droższych ofert szk&oacute;ł językowych. To pierwsze tego typu rozwiazanie w Polsce!</p>

            <h3>Atrakcyjna forma</h3>

            <p>Opr&oacute;cz zajęć w grupie stawiamy na indywidualne konwersacje, gdyż jest to najszybsza metoda poznania języka w jego realnej (m&oacute;wionej i rozumianej) formie. Uczestnicy mają r&oacute;wnież dzięki indywidualnym konsultacjom przestrzeń do tego, by zadać pytania i wyjaśnić te kwestie, na kt&oacute;re zwykle nie starcza czasu podczas zajęć prowadzonych w tradycyjny spos&oacute;b.</p>

            <h3>Zajęcia w centrum miasta</h3>

            <p>Wszystkie lekcje odbywają się na terenie Uniwersytetu Ekonomicznego przy ulicy Rakowickiej 27 (3 minuty od Dworca Głównego).</p>

            <h1>Czym jest AIESEC?</h1>

            <p>AIESEC jest globalną, niezależną, apolityczna, nie działającą dla zysku organizacją prowadzoną przez studentów. Członkowie interesują się bieżącymi problemami otaczającego nas świata, przywództwem oraz zarządzaniem. AIESEC nie dyskryminuje ze względu na rasę, kolor skóry, płeć, orientację seksualną, wyznanie, religię ani etniczne czy społeczne pochodzenie.</p>
            <p>AIESEC jest największą organizacją studencką na świecie. Jest obecny w ponad 120 krajach oraz zrzesza ponad 100 000 członków. W celu zapewnienia rozwoju przyszłych liderów, AIESEC oferuje swoim członkom doświadczenie liderskie oraz międzynarodowe w ramach programów praktyk i wolontariatów zagranicznych. W AIESEC aktywnie zdobywasz praktyczną wiedzę w globalnym środowisku. </p>

            <p><img src="http://farm9.staticflickr.com/8434/7836830036_3163c8e68e_b.jpg" style="max-width: 100%;"/><br />
                &nbsp;</p>

        </div>
    </div>
{% endblock %}