{% extends 'base.html.twig' %}

{% block title %}Kontakt | Warsztaty językowe AIESEC University{% endblock %}

{% block body %}
    <div class="col-md-10 centered about fontcolor fontface">
        <div class="logo text-center"></div>
        <br/>
        <h3 class="text-center"><strong>Skontaktuj się z nami</strong></h1>
    </div>

    <div class="col-md-6 col-md-offset-3 centered about fontcolor fontface" style="font-size: 18px;">

        <table class="table">
            <tr>
                <strong>Biuro</strong>
            </tr>

            <tr>
                <td>Telefon:</td>
                <td>12 293 50 78</td>
            </tr>
            <tr>
                <td>E-mail:</td>
                <td><a href="mailto:learnbyplay.krakow@gmail.com"><span class="fontcolor">learnbyplay.krakow@gmail.com</span></a></td>
            </tr>

        </table>

        <table class="table" id="address-table">
            <tr>
                <td>
                    <strong>AIESEC Kraków Oddział Lokalny</strong><br/>
                    ul. Rakowicka 27, 31-510 Kraków<br/>
                    Pawilon Sportowy pok 228-229
                </td>
            </tr>
        </table>
    </div>
{% endblock %}