{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-12">
    {% for flash_message in app.session.flashbag.get('notice') %}
        <div class="alert alert-success" role="alert">{{ flash_message }}</div>
    {% endfor %}
    </div>
{% endblock %}