{% extends 'base.html.twig' %}

{% block title %}Partnerzy | Warsztaty językowe AIESEC University{% endblock %}

{% block body %}
        <div class="row">
            <div class="col-md-10 centered about fontcolor">
                <div class="logo text-center"></div>
                <br/>
                <h3 class="text-center"><strong>Nasi partnerzy</strong></h3>
            </div>
        </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
            <div class="row">
                <div class="col-md-12"; style="border-top:1px solid white;">
                    <h2 style="color: white">Partner Merytoryczny</h2>
                    <a href="http://www.soul.edu.pl/" target="_blank"><img style="max-height: 150px;" src="img/partners/SOUL.png" />
                        <h3 class="fontcolor">Szkoła językowa SOUL</h3></a>
                    <hr />
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <h2 style="color: white;">Partner wspierający</h2>
                        <a href="http://www.nova.edu.pl/" target="_blank"><img style="max-height: 150px;" src="img/partners/NOVA.png" />
                            <h3 class="fontcolor">Centrum edukacyjne NOVA </h3></a>
                        <hr />
                    </div>

                </div>


                <!-- middle partners column -->
                <div class="col-md-12">

                    <!-- first row of partners -->
                    <div class="row">
                        <div class="col-md-6">
                            <a href="#"><img style="max-height: 150px;" class="partners-logo" src="img/partners/logo_cupcake.jpg" /></a>
                        </div>
                        <div class="col-md-6">
                            <a href="#"><img style="max-height: 150px;" class="partners-logo" src="img/partners/parkwodny.jpg" /></a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <a href="#"><img style="max-height: 150px;" class="partners-logo" src="img/partners/logo_hr.jpg" /></a>
                        </div>
                        <div class="col-md-6">
                            <a href="#"><img style="max-height: 150px;" class="partners-logo" src="img/partners/logo_ln.jpg" /></a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <a href="#"><img style="max-height: 150px;" class="partners-logo" src="img/partners/logo_laserpark.jpg" /></a>
                        </div>
                    </div>

                </div>



            </div>

        </div>
    </div>

{% endblock %}