{% extends 'base.html.twig' %}
{% block body %}
<div id="Container">
    <div id="Content">
        <h1>Czym są warsztaty AIESEC University</h1>
            <p></p>
            <p></p>
            <p></p>
        <h3>Language Tours</h3>
            <span>
            </span>
        <h1>Dlaczego warsztaty AIESEC University?</h1>
            <p></p>
        <h3>Przystępna cena</h3>
            <p></p>
        <h3>Atrakcyjna forma</h3>
            <p>Wszystkie lekcje odbywają się:     </p>

    </div>
    <div id="about_AIESEC">
        <h1>Czym jest AIESEC</h1>
            <p></p>
            <p><img src="http://farm9.staticflickr.com/8434/7836830036_3163c8e68e_b.jpg"/> </p>
            <p></p>
            <p></p>
            <p></p>
        <h3>AIESEC w skrócie</h3>
        <tabele>
            <tr> <td>125</td>       <td>krajów </td></tr> <br/>
            <tr> <td>2 400 </td>    <td>uniwersytetów </td></tr> <br/>
            <tr> <td>100 000 </td>  <td>członków </td></tr> <br/>
            <tr> <td>10 000 </td>   <td>praktyk i wolontariatów zagranicznych </td></tr> <br/>
            <tr> <td>27 000 </td>   <td>pozycji liderskich </td></tr> <br/>
            <tr> <td>8 000</td>     <td>partnerów </td></tr> <br/>
            <tr> <td>500  </td>     <td>500</td></tr> <br/>
            <tr> <td>66 </td>       <td>lat doświadczenia </td></tr> <br/>
        </tabele>
    </div>
    <div id="row"></div>

</div>



{% endblock %}