{% extends 'base.html.twig' %}

{% block body %}
    <html lang="pl">


        <style>
            #container
            {
                width: 600px;
                margin-top: auto;
                margin-left: auto;
                margin-right: auto;
            }
            #logo
            {

                color: white;
                align: center;
                padding: 15px;
            }
            #content
            {
                float: left;
                padding: 20px;
                width: 640px;
            }

            #signup
            {
                clear: both;
                color: white;
                text-align: center;
                padding: 20px;
            }
        </style>

        
    <html>
    <head>
    <style>
        #container
        {
            width: 600px;
            margin-top: auto;
            margin-left: auto;
            margin-right: auto;
        }
        #logo
        {

            color: white;
            align: center;
            padding: 15px;
        }
        #content
        {
            float: left;
            padding: 20px;
            width: 640px;
        }

        #signup
        {
            clear: both;
            color: white;
            text-align: center;
            padding: 20px;
        }
    </style>

    </head>

    <body>

    <div id="container">

        <div id="logo">
            <h1></h1>
        </div>

        <div id="content">
            <div class="col-md-10 centered heading fontcolor">
                <div class="logo text-center"></div>
                <br/>
                <h1 class="text-center"><strong>Cennik warsztatów</strong></h1>
            </div>
            <table class="table">
                <tr>
                    <strong>Ceny podstawowe</strong>
                </tr>
                <tr>
                    <td>Zajęcia grupowe</td>
                    <td>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;199 zł</td>
                </tr>
                <tr>
                    <td>Zajęcia indywidualne</td>
                    <td>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;359 zł</td>
                </tr>
            </table>


            <table class="table">
                <tr>
                    <strong>Przy zapisie na więcej niż jedne zajęcia</strong>
                </tr>
                <tr>
                    <td>Dwa kursy grupowe</td>
                    <td>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;259 zł</td>
                </tr>
                <tr>
                    <td>Dwa kursy indywidualne</td>
                    <td>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;599 zł</td>
                </tr>
            </table>

            <table class="table">
                <tr>
                    <td>
                        <strong>Zniżki:</strong>
                        20% dla osób które wczeniej uczestniczyły w warsztatach.
                    </td>
                </tr>
                <!--<tr>
                  <td>
                Zniżki nie łączą się ze sobą.
                  </td>
                </tr>
                     -->
            </table>
        </div>

        <div id="signup">
            <div class="row">

                <div class="col-md-6 col-md-offset-3 centered text-centered bottom-buttons">
                    <a href="signup.php"><div class="col-md-6 col-md-offset-3 btn btn-danger">ZAPISZ SIĘ</div></a>

                </div>
            </div>
        </div>

    </body>
    </html>
{% endblock %}