html, body {
    height: 100%;
}

@font-face {
    font-family: 'Museo300';
    src: url('../fonts/Museo300-Regular-webfont.eot');
    src: url('../fonts/Museo300-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Museo300-Regular-webfont.woff') format('woff'), url('../fonts/Museo300-Regular-webfont.ttf') format('truetype'), url('../fonts/Museo300-Regular-webfont.svg#Museo300Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, p {
    font-family: Museo300;
    color: white;
}

.about {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: justify;
    text-justify: inter-word;
    display: block;
}

#content{
    min-height: 100%;
}

.about p {
    font-size: 16px;
}

.centered {
    float: none;
    margin: 0 auto;
}

.fontface {
    font-family: Museo300;
}

.fontcolor {
    color: white;
}

.nav-link {
    font-family: Museo300;
    font-size: 12pt;
    color: #777777;
}

.content-container {
    margin-top: -20px;
    padding-bottom: 30px;
    min-height: 700px;
    background: url(../img/bg_5.png) #ffffff top center;
    background-size: cover;
    //background-attachment: fixed;
}

.logo {
    background: url(../img/logo-white.png) no-repeat center center;
    background-size: contain;
    height: 100px;
}
@media (min-width: 768px) {
    .logo {
        margin-top: 100px;
        height: 140px;
    }
}
@media (min-width: 992px) {
    .logo {
        margin-top: 50px;
        height: 140px;
    }
}
@media (min-width: 1200px) {
    .logo {
        margin-top: 0px;
        height: 140px;
    }
}

.header {
    position: relative;
    padding-top: 20px;
    color: white;
}
@media (min-width: 768px) {
    .header {
        height: 500px;
        padding-top: 100px;
        background: url(../img/header.jpg) no-repeat center;
        border-bottom: 5px white solid;
    }
}

.logo-header {
    background: url(../img/logo-white.png) no-repeat center center;
    background-size: contain;
    height: 140px;
}

.flag {
    width: 30%;
    margin: 0 auto;
}
@media (min-width: 992px) {
    .flag {
        max-width: 100px;
        width: 90%;
    }
}

.icon {
    width: 30%;
    margin: 0 auto;
}
@media (min-width: 992px) {
    .icon {
        max-width: 100px;
        width: 90%;
    }
}

.point {
    font-family: Museo300;
    font-weight: 500;
    line-height: 1.1;
    color: white;
    margin-top: 11px;
    margin-bottom: 11px;
    font-size: 20px;
}



.footer-partners {
    max-width: 100%;
    max-height: 30px;
}
.partners-logo {
    max-width: 100%;
    max-height: 100px;
    padding: 10px;
}

.footer-logo {
    max-width: 50%;
    padding: 10px 0px 10px 0px;
}
@media (min-width: 768px) {
    .footer-logo {
        max-width: 80%;
    }
}

.navbar {
    position: relative;
}

.footer {
    position: relative;
}

.btn-primary{
    margin-top: 10%;
    margin-bottom: 10%;
}

#groups-choice{
    display: none;
}

/*===============================================*/

/*LOADER*/

/*===============================================*/


.loader {
    display: none;
    margin-left: auto;
    margin-right: auto;
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*====================================================*/

.thankyou {
    margin-top: 10%;
    height: 100%;
}
#thankyou-row {
    height: 100%;
    display: block;
}

.radio {
    display: inline;
    padding-left: 10px;
}

/*===============================================*/

/*Radio*/

/*===============================================*/

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="radio"],
input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.radio,
.checkbox {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.radio label,
.checkbox label {
    min-height: 22px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
    position: absolute;
    margin-left: -20px;
    margin-top: 4px \9;
}
.radio + .radio,
.checkbox + .checkbox {
    margin-top: -5px;
}
.radio-inline,
.checkbox-inline {
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    vertical-align: middle;
    font-weight: normal;
    cursor: pointer;
}
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
    margin-top: 0;
    margin-left: 10px;
}
input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"].disabled,
input[type="checkbox"].disabled,
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"] {
    cursor: not-allowed;
}
.radio-inline.disabled,
.checkbox-inline.disabled,
fieldset[disabled] .radio-inline,
fieldset[disabled] .checkbox-inline {
    cursor: not-allowed;
}
.radio.disabled label,
.checkbox.disabled label,
fieldset[disabled] .radio label,
fieldset[disabled] .checkbox label {
    cursor: not-allowed;
}
.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline,
.has-success.radio label,
.has-success.checkbox label,
.has-success.radio-inline label,
.has-success.checkbox-inline label {
    color: #3c763d;
}

.form-inline .radio,
.form-inline .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
}
.form-inline .radio label,
.form-inline .checkbox label {
    padding-left: 0;
}
.form-inline .radio input[type="radio"],
.form-inline .checkbox input[type="checkbox"] {
    position: relative;
    margin-left: 0;
}
.form-inline .has-feedback .form-control-feedback {
    top: 0;
}

.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 7px;
}
.form-horizontal .radio,
.form-horizontal .checkbox {
    min-height: 29px;
}

